@charset "UTF-8";

/* 回答はここに書いてね */
.balloon_text {
  position: relative;
  font-size: 16px;
  line-height: 16px;
  width: 500px;
  padding: 20px;
  margin: 0 auto;
  border: solid 5px #222;
  border-radius: 30px;
}
.balloon_text::after,.balloon_text::before {
  position: absolute;
  left: 30px;
  border-style: solid;
  border-width: 20px 20px 0px 20px;
  content: "";
  width: 0;
  height: 0;
}
.balloon_text::before {
  bottom: -25px;
  border-color:#222 transparent transparent transparent;
}
.balloon_text::after {
  bottom: -18px;
  border-color: #fff transparent transparent transparent;
}
/* 回答はここに書いてね */
